
.logo-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    font-family: 'Montez', cursive;
    font-size: 2.5em;
    color:#0000ff;
    padding-left:5px;
}
.subheading {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
    color: #555;
    padding-left:5px;
}

/*buttons section*/
.buttons {
    display: flex;
    align-items: center;
    padding-right:7px;
}
.signin-button,
.signup-button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin:6% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal title */
.modal-title {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
#signupButton{
background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:100%;
}
#signinButton{
     background-color: green;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     width:100%;
}
.not-member{
padding:10px;
text-align:center;
}

form{
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  align-items:center;

}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}

.account-info {
  padding: 20px 20px 20px 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}


main{
margin:10px;
}
.post-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
}

.author-container {
    position: relative;
}
.author-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: inline-block;
}
.edit-save-container {
    position: absolute;
    top: 0;
    right: 0;

}

button{
margin-top:10px;
background-color: #E0115F;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}

#likeStatus{
color:grey;
}

#commentInput{
width:60%;
}

.comments{
margin-top:10px;
}

#allComments {
    background-color: #f0f0f0;
    padding: 10px;
    width:60%;
    display: none;
     margin-top:10px;
}

.comment {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

